---

const blogs = [

  {
    image: '',
    title: '',
    url: '',
    tech: [
      '',
    ],
    description: '',
  },
]
---


<section class="sec blogs">


  <div class="content">

    <div class="contentTitle">
      <h2 class="title">BLOGS</h2>
    </div>

    <div class="text-center text-2xl font-bold">Comming Soon...</div>

    <div class="contentBody">


      <div class="cards">
        

      </div>


    </div>

  </div>

</section>

<style lang="stylus">
  .cards
    @apply max-w-5xl mx-auto
    > * + * 
      @apply mt-10 

  .card
    @apply grid gap-10 
    grid-template-columns: 35% 1fr

  .cardImage
    @apply transition-opacity duration-300 relative
    img
      @apply w-full h-full object-cover
    span
      @apply bg-primary p-2 w-full block text-center text-white absolute bottom-0 left-0 text-sm font-bold

  .cardMeta
    > * + * 
      @apply mt-8
    &Title
      @apply text-3xl font-extrabold
    &Description
      line-height 1.8
    &Tech
      @apply flex flex-wrap gap-2
      li
        @apply bg-bk text-white px-2 py-1 text-sm font-bold

</style>