
.card 
  display: grid
  gap: 1rem
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  padding: 1rem
  background-color: #f0f0f0
  margin: 1rem 0

  &Link
    text-decoration: none
    color: #F00

  // &Title
    